{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
<script src="{{ asset('build/app.js') }}"></script>

<h1>All the stations</h1>

<h2>Enter your initials and I'll tell you if there is a matching station code</h2>
<p>Looking at 2571 stations with codes, from a list of all National Rail station names and
  their <a href="http://www.nationalrail.co.uk/stations_destinations/48541.aspx">3 letter alpha codes</a>.</p>


<input id="stationCode" type="text" />
<span id="stationCodeError"></span>

<p>
  You have typed: <span id="stationCodeDisplay">(nothing yet)</span>
  <br>
  <span id="stationCodeResult"></span>
</p>

</body>
</html>
